In [142]:
# Airbnb Data Preparation and Cleaning Workshop
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer


df = pd.read_csv("../newoutput.csv")

In [143]:
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88940 entries, 0 to 88939
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lead_text       88484 non-null  object
 1   photo_url       88907 non-null  object
 2   title           88940 non-null  object
 3   url             88940 non-null  object
 4   wikipedia_link  88760 non-null  object
dtypes: object(5)
memory usage: 3.4+ MB

,lead_text,photo_url,title,url,wikipedia_link
0,"Domitius Marsus (/ˈmɑːrsəs/) was a Latin poet,...",http://dbpedia.org/resource/Template:EB1911_ar...,Domitius Marsus,https://dbpedia.org/page/Domitius_Marsus,http://en.wikipedia.org/wiki/Domitius_Marsus?o...
1,"Aaron ben Menahem Mendel was a Russian rabbi, ...",https://jewishencyclopedia.com/articles/69-aar...,Aaron ben Menahem Mendel,https://dbpedia.org/page/Aaron_ben_Menahem_Mendel,http://en.wikipedia.org/wiki/Aaron_ben_Menahem...
2,Ida Cook (24 August 1904 – 22 December 1986) w...,http://dbpedia.org/resource/Novelist,Mary Burchell,https://dbpedia.org/page/Mary_Burchell,http://en.wikipedia.org/wiki/Mary_Burchell?old...
3,The Principality of Lüneburg (later also refer...,http://dbpedia.org/resource/Lüneburg,Principality of Lüneburg,https://dbpedia.org/page/Principality_of_L%C3%...,http://en.wikipedia.org/wiki/Principality_of_L...
4,Simen Agdestein (born 15 May 1967) is a Norweg...,http://dbpedia.org/resource/Norway,Simen Agdestein,https://dbpedia.org/page/Simen_Agdestein,http://en.wikipedia.org/wiki/Simen_Agdestein?o...

**Check for null values**

In [144]:
df1=df[df.isna().any(axis=1)]
# df1.to_csv('out.csv', index=False)
df.isnull().sum()

lead_text         456
photo_url          33
title               0
url                 0
wikipedia_link    180
dtype: int64

**Removed null values**

In [145]:
df.dropna(subset=['lead_text'],inplace=True)
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 88484 entries, 0 to 88939
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lead_text       88484 non-null  object
 1   photo_url       88484 non-null  object
 2   title           88484 non-null  object
 3   url             88484 non-null  object
 4   wikipedia_link  88446 non-null  object
dtypes: object(5)
memory usage: 4.1+ MB

lead_text          0
photo_url          0
title              0
url                0
wikipedia_link    38
dtype: int64

## CSV includes symbols and non alphabetical/numbers. Hence need to remove

In [146]:
# col_list=list(df.columns)
# col_list
# df2=df
# for i in col_list:
#     df2[i] = df2[i].str.lower()
# df2.head(10)

In [147]:
import re

def clean_text(text):
    # Remove all symbols and non-alphabetic characters except for accented letters and spaces
    cleaned_text = re.sub(r"[^a-zA-ZÀ-ÿ\s]", "", text)
    
    # Remove any standalone numbers or words containing digits (e.g., "2024" or "4u")
    cleaned_text = re.sub(r"\b\w*\d\w*\b", "", cleaned_text)
    
    # Remove extra spaces
    cleaned_text = re.sub(r"\s+", " ", cleaned_text).strip()
    
    return cleaned_text

In [149]:
import pandas as pd
import re

def clean_lead_text(text):
    # Remove all symbols and non-alphabetic characters except for accented letters and spaces
    # result = re.sub(r"[^a-zA-ZÀ-ÿ\s]", "", text)
    result = re.sub(r'[^ \w+]', '', text)
    return result

# Assuming df is your DataFrame
df['lead_text'] = df['lead_text'].apply(clean_lead_text)

# Example to check results
print(df['lead_text'].head(12))

0     Domitius Marsus mrss was a Latin poet friend o...
1     Aaron ben Menahem Mendel was a Russian rabbi w...
2     Ida Cook  August    December  was a British ca...
3     The Principality of Lüneburg later also referr...
4     Simen Agdestein born  May  is a Norwegian ches...
5     Julia Loktev born December   is a RussianAmeri...
6     Pottenstein is a town in the district of Bayre...
7     Nicolae Blcescu Romanian pronunciation nikolae...
8     Christos Georgiou Doumas Greek    born  is a G...
9     Baron Maejima Hisoka   January    April   born...
10    Vander Clyde Broadway December    August   sta...
11    Lars Vegard  February    December  was a Norwe...
Name: lead_text, dtype: object